=breadcrumb_tag do
  %li.breadcrumb-item
    = link_to Direction.model_name.human(count: 'other'), directions_path
  %li.breadcrumb-item.active
    = t('views.entites.directions.new.title')

%h1= t('views.entites.directions.new.title')

= render 'form'

= link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), directions_path, class: 'btn btn-secondary'
