= form_for @person do |f|
  = error_messages_for @person

  .row

    -# attribute = first_name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Person.human_attribute_name(:first_name)
      = f.text_field :first_name, class: 'form-control'
      = error_messages_for_attr(f.object, :first_name)

    -# attribute = last_name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Person.human_attribute_name(:last_name)
      = f.text_field :last_name, class: 'form-control'
      = error_messages_for_attr(f.object, :last_name)

    -# attribute = second_name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Person.human_attribute_name(:second_name)
      = f.text_field :second_name, class: 'form-control'
      = error_messages_for_attr(f.object, :second_name)

    -# attribute = birthday
    -# field_type = date_select
    .field.form-group.col-sm-6
      = f.label :birthday
      .input-group.date
        = f.text_field(:birthday,
        value: lnil(f.object.birthday),
        class: 'form-control datepicker',
        aria: {describedby: 'date-addon-birthday'})
        .input-group-append
          %span.input-group-text#date-addon-birthday
            = fa_icon(:calendar)
      = error_messages_for_attr(f.object, :birthday)

    -# attribute = passport
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Person.human_attribute_name(:passport)
      = f.text_field :passport, class: 'form-control'
      = error_messages_for_attr(f.object, :passport)

  .actions
    = f.submit t('views.general.links.submit'), class: 'btn btn-primary pull-right'
