=breadcrumb_tag do
  %li.breadcrumb-item
    = link_to Person.model_name.human(count: 'other'), people_path
  %li.breadcrumb-item
    = link_to "#{@person.id}", @person
  %li.breadcrumb-item.active
    = t('views.entites.people.new.title')

%h1= t('views.entites.people.edit.title')

= render 'form'

%div.mt-3
  = link_to_show(@person)
  \|
  = link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), people_path, class: 'btn btn-secondary'
