= link_to t('views.general.links.new'), new_person_path, class: 'btn btn-primary pull-right'

%h1= t('views.entites.people.index.title')
%table.table.table-hover.table-striped
  %thead
    %tr
      %th= Person.human_attribute_name(:first_name)
      %th= Person.human_attribute_name(:last_name)
      %th= Person.human_attribute_name(:second_name)
      %th= Person.human_attribute_name(:birthday)
      %th= Person.human_attribute_name(:passport)
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.first_name
        %td= person.last_name
        %td= person.second_name
        %td= person.birthday
        %td= person.passport
        %td= link_to_show(person)
        %td= link_to_edit(edit_person_path(person))
        %td= link_to_destroy(person)

%br
