=breadcrumb_tag do
  %li.breadcrumb-item
    = link_to Person.model_name.human(count: 'other'), people_path
  %li.breadcrumb-item.active
    = @person.id

%h1= t('views.entites.people.show.title')

%p#notice= notice

%dl.row
  %dt.col-sm-2
    %b= Person.human_attribute_name(:first_name)
  %dd.col-sm-10
    = @person.first_name
  %dt.col-sm-2
    %b= Person.human_attribute_name(:last_name)
  %dd.col-sm-10
    = @person.last_name
  %dt.col-sm-2
    %b= Person.human_attribute_name(:second_name)
  %dd.col-sm-10
    = @person.second_name
  %dt.col-sm-2
    %b= Person.human_attribute_name(:birthday)
  %dd.col-sm-10
    = @person.birthday
  %dt.col-sm-2
    %b= Person.human_attribute_name(:passport)
  %dd.col-sm-10
    = @person.passport

%td= link_to_edit(edit_person_path(@person))
\|
= link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), people_path, class: 'btn btn-secondary'
\|
= link_to_destroy(@person)
