= form_for @post_department do |f|
  = error_messages_for @post_department

  .row
    .field.form-group.col-sm-6
      = f.label :post
      = f.text_field :post, class: 'form-control'
      = error_messages_for_attr(f.object, :post)
    .field.form-group.col-sm-6
      = f.label :department
      = f.text_field :department, class: 'form-control'
      = error_messages_for_attr(f.object, :department)
    .field.form-group.col-sm-6
      = f.label :worker
      = f.text_field :worker, class: 'form-control'
      = error_messages_for_attr(f.object, :worker)
  .actions
    = f.submit 'Submit', class: 'btn btn-primary pull-right'
