=breadcrumb_tag do
  %li.breadcrumb-item
    = link_to PostDepartment.model_name.human(count: 'other'), post_departments_path
  %li.breadcrumb-item
    = link_to "#{@post_department.id}", @post_department
  %li.breadcrumb-item.active
    = t('views.entites.post_departments.new.title')

%h1= t('views.entites.post_departments.edit.title')

= render 'form'

%div.mt-3
  = link_to_show(@post_department)
  \|
  = link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), post_departments_path, class: 'btn btn-secondary'
  \|
  = link_to_destroy(@post_department)
