=breadcrumb_tag do
  %li.breadcrumb-item
    = link_to PostDepartment.model_name.human(count: 'other'), post_departments_path
  %li.breadcrumb-item.active
    = t('views.entites.post_departments.new.title')

%h1= t('views.entites.post_departments.new.title')

= render 'form'

= link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), post_departments_path, class: 'btn btn-secondary'
