%p#notice= notice

%dl.row
  %dt.col-sm-2
    %b Post:
  %dd.col-sm-10
    = @post_department.post
  %dt.col-sm-2
    %b Department:
  %dd.col-sm-10
    = @post_department.department
  %dt.col-sm-2
    %b Worker:
  %dd.col-sm-10
    = @post_department.worker

%td= link_to_edit(edit_post_department_path(@post_department))
\|
= link_to (fa_icon 'reply' ,text: 'Back'), post_departments_path, class: 'btn btn-secondary'
