= form_for @department do |f|
  = error_messages_for @department

  .row

    -# attribute = name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Department.human_attribute_name(:name)
      = f.text_field :name, class: 'form-control'
      = error_messages_for_attr(f.object, :name)

    -# attribute = description
    -# field_type = text_area
    .field.form-group.col-sm-6
      = f.label Department.human_attribute_name(:description)
      = f.text_area :description, class: 'form-control'
      = error_messages_for_attr(f.object, :description)

    -# attribute = description
    -# field_type = text_area
    .field.form-group.col-sm-6
      = f.label Department.human_attribute_name(:parent_id)
      = f.select(:parent_id,
      options_for_select(Department.all_except(f.object).map{|d| [d.name, d.id]},
      f.object.parent_id),
      {include_blank: true}, {class: 'form-control'} )
      = error_messages_for_attr(f.object, :parent_id)



  .actions
    = f.submit t('views.general.links.submit'), class: 'btn btn-primary pull-right'
