=breadcrumb_tag do
  %li.breadcrumb-item
    = link_to Department.model_name.human(count: 'other'), departments_path
  %li.breadcrumb-item
    = link_to "#{@department.id}", @department
  %li.breadcrumb-item.active
    = t('views.entites.departments.edit.title')

%h1= t('views.entites.departments.edit.title')

= render 'form'

%div.mt-3
  = link_to_show(@department)
  \|
  = link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), departments_path, class: 'btn btn-secondary'
  \|
  = link_to_destroy(@department)
