= link_to t('views.general.links.new'), new_department_path, class: 'btn btn-primary pull-right'

%h1= t('views.entites.departments.index.title')
%table.table.table-hover.table-striped
  %thead
    %tr
      %th= Department.human_attribute_name(:name)
      %th= Department.human_attribute_name(:description)
      %th= Department.human_attribute_name(:parent)
      %th= Department.human_attribute_name(:children)
      %th
      %th
      %th

  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= department.description
        %td= department.parent.try(:name)
        %td= department.children.map { |d| d.name }.join(', ')
        %td= link_to_show(department)
        %td= link_to_edit(edit_department_path(department))
        %td= link_to_destroy(department)

%br
