= form_for @document do |f|
  = error_messages_for @document

  .row


    -# attribute = name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Document.human_attribute_name(:name)
      = f.text_field :name, class: 'form-control'
      = error_messages_for_attr(f.object, :name)

    -# attribute = doc
    -# field_type = file_field
    .field.form-group.col-sm-6
      = f.label Document.human_attribute_name(:doc)
      = f.file_field :doc, class: 'form-control-file'
      = error_messages_for_attr(f.object, :doc)

    -# attribute = task
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Document.human_attribute_name(:task)
      = f.text_field :task, class: 'form-control'
      = error_messages_for_attr(f.object, :task)

    -# attribute = direction
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Document.human_attribute_name(:direction)
      = f.text_field :direction, class: 'form-control'
      = error_messages_for_attr(f.object, :direction)

    -# attribute = description
    -# field_type = text_field
    .field.form-group.col-sm-12
      = f.label Document.human_attribute_name(:description)
      = f.text_area :description, class: 'form-control'
      = error_messages_for_attr(f.object, :description)

  .actions
    = f.submit t('views.general.links.submit'), class: 'btn btn-primary pull-right'
