-# %h1= t('views.entites.<%= table_name %>.edit.title')

%p#notice= notice

%dl.row
<% for attribute in attributes -%>
  %dt.col-sm-2
    %b= <%= plural_table_name.classify %>.human_attribute_name(:<%= attribute.name %>)
  %dd.col-sm-10
    = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

%td= link_to_edit(edit_<%= singular_table_name %>_path(@<%= singular_table_name %>))
\|
= link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), <%= index_helper %>_path, class: 'btn btn-secondary'
\|
= link_to_destroy(@<%= singular_table_name %>)
