= link_to t('views.general.links.new'), new_worker_path, class: 'btn btn-primary pull-right'

%h1= t('views.entites.workers.index.title')
%table.table.table-hover.table-striped
  %thead
    %tr
      %th= Worker.human_attribute_name(:contract_start_date)
      %th= Worker.human_attribute_name(:contract_end_date)
      %th= Worker.human_attribute_name(:status)
      %th= Worker.human_attribute_name(:person)
      %th
      %th
      %th

  %tbody
    - @workers.each do |worker|
      %tr
        %td= worker.contract_start_date
        %td= worker.contract_end_date
        %td= worker.status
        %td= worker.person
        %td= link_to_show(worker)
        %td= link_to_edit(edit_worker_path(worker))
        %td= link_to_destroy(worker)

%br
