= form_for @post do |f|
  .actions
    = f.submit t('views.general.links.submit'), class: 'btn btn-primary mb-2'
  = error_messages_for @post



  .row

    -# attribute = code
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Post.human_attribute_name(:code)
      = f.text_field :code, class: 'form-control'
      = error_messages_for_attr(f.object, :code)

    -# attribute = name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Post.human_attribute_name(:name)
      = f.text_field :name, class: 'form-control'
      = error_messages_for_attr(f.object, :name)

    -# attribute = manager
    -# field_type = check_box
    .field.form-group.col-sm-6
      = f.label Post.human_attribute_name(:manager)
      = f.check_box :manager, class: 'check-input'
      = error_messages_for_attr(f.object, :manager)

    .field.form-group.col-sm-12.form-group-with-select2
      = f.label Post.human_attribute_name(:department_ids)
      = f.collection_select(:department_ids,
      Department.all, :id, :name,
      {include_blank: false, prompt: I18n.t('views.entites.posts.select.department')},
      {multiple: true, class: 'select2 select2-selector'})
      = error_messages_for_attr(f.object, :department_ids)

-# {include_blank: false, prompt: I18n.t('.department')},
