= form_for @post do |f|
  = error_messages_for @post

  .row

    -# attribute = code
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Post.human_attribute_name(:code)
      = f.text_field :code, class: 'form-control'
      = error_messages_for_attr(f.object, :code)

    -# attribute = name
    -# field_type = text_field
    .field.form-group.col-sm-6
      = f.label Post.human_attribute_name(:name)
      = f.text_field :name, class: 'form-control'
      = error_messages_for_attr(f.object, :name)

  .actions
    = f.submit t('views.general.links.submit'), class: 'btn btn-primary pull-right'
