%div.nested-fields
  .form-group
    .row
      .col-md-4
        = f.label :department_id
        = f.collection_select :department_id, Department.all,
        :id, :name, {include_blank: true}

    = f.fields_for :department, f.object.department || f.object.build_department do |fdep|
      .row

        -# attribute = name
        -# field_type = text_field
        .field.form-group.col-sm-6
          = fdep.label Department.human_attribute_name(:name)
          = fdep.text_field :name, class: 'form-control'
          = error_messages_for_attr(fdep.object, :name)

        -# attribute = description
        -# field_type = text_area
        .field.form-group.col-sm-6
          = fdep.label Department.human_attribute_name(:description)
          = fdep.text_area :description, class: 'form-control'
          = error_messages_for_attr(fdep.object, :description)

        -# attribute = description
        -# field_type = text_area
        .field.form-group.col-sm-6
          = fdep.label Department.human_attribute_name(:parent_id)
          = fdep.select(:parent_id,
          options_for_select(Department.all_except(fdep.object).map{|d| [d.name, d.id]},
          fdep.object.parent_id),
          {include_blank: true}, {class: 'form-control'} )
          = error_messages_for_attr(fdep.object, :parent_id)

        .department-id
          = fdep.label :id
          = fdep.number_field :id

      .links
        = link_to_remove_association (fa_icon :remove) + t('views.general.links.destroy'),
        f, class: 'btn btn-warning'
        -# - if params[:action] == 'edit'
        -#   - if !f.object.new_record?
        -#     = link_to (fa_icon :ban) + t('buttons.destroy'), f.object.author, method: :delete, class: 'destroy-author btn btn-danger',
        -#     :data => { :confirm => t('buttons.confirm.author') },
        -#     remote: true
