%h1= t('views.entites.posts.edit.title')

= render 'form'

%div.mt-3
  = link_to_show(@post)
  \|
  = link_to (fa_icon 'reply' ,text: t('views.general.links.back') ), posts_path, class: 'btn btn-secondary'
  \|
  = link_to_destroy(@post)
