= link_to t('views.general.links.new'), new_post_path, class: 'btn btn-primary pull-right'

%h1= t('views.entites.posts.index.title')
%table.table.table-hover.table-striped
  %thead
    %tr
      %th= Post.human_attribute_name(:code)
      %th= Post.human_attribute_name(:name)
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.code
        %td= post.name
        %td= link_to_show(post)
        %td= link_to_edit(edit_post_path(post))
        %td= link_to_destroy(post)

%br
