%p#notice= notice

%dl.row
  %dt.col-sm-2
    %b Code:
  %dd.col-sm-10
    = @post.code
  %dt.col-sm-2
    %b Name:
  %dd.col-sm-10
    = @post.name

%td= link_to_edit(edit_post_path(@post))
\|
= link_to (fa_icon 'reply' ,text: 'Back'), posts_path, class: 'btn btn-secondary'
