%p#notice= notice

%dl.row
  %dt.col-sm-2
    %b Test string:
  %dd.col-sm-10
    = @test.test_string
  %dt.col-sm-2
    %b Test int:
  %dd.col-sm-10
    = @test.test_int

%td= link_to_edit(edit_test_path(@test))
\|
= link_to (fa_icon 'reply' ,text: 'Back'), tests_path, class: 'btn btn-secondary'
