!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MephiSystem
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'application/header'
    = render 'flash_messages'
    -if content_for? :breadcrumb
      = yield :breadcrumb
    -if content_for? :error_messages
      = yield :error_messages
    #wrapper
      = render 'application/sidebar'
      #main-content.container-fluid.mt-3
        = yield
